@model Eurecert.Models.EducationType

@{
    ViewData["Title"] = "Eğitim Tipi Sil";
}

<h2>Eğitim Tipi Sil</h2>
<br />

<h3>Silmek istediğinizden emin misiniz?</h3>
<div>    
    <form asp-action="Delete">
        <dl class="dl-horizontal">
            <input type="hidden" asp-for="Id" />
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>


        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-danger" /> |
            <a asp-action="Index">Geri</a>
        </div>
    </form>
</div>
