@model Eurecert.Models.Country

@{
    ViewData["Title"] = "Details";
}

<h2>Detaylar</h2>

<div>
    <h4>Ülke</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CountryName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CountryName)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Düzenle</a> |
    <a asp-action="Index">Geri</a>
</div>
